In [2]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
import scipy.stats as stats
import warnings
warnings.filterwarnings('ignore')

In [3]:
df=pd.read_csv('sample_4months.csv')

In [4]:
null_val=round(df.isnull().sum()/len(df)*100,2)

In [5]:
null_val.head()

Unnamed: 0       0.0
id             100.0
member_id      100.0
loan_amnt        0.0
funded_amnt      0.0
dtype: float64

### Columns with null values

In [6]:
null_val=null_val.loc[null_val > 0]

In [8]:
null_val

id                                            100.00
member_id                                     100.00
emp_title                                       8.69
emp_length                                      8.53
url                                           100.00
desc                                          100.00
dti                                             0.24
mths_since_last_delinq                         56.11
mths_since_last_record                         86.19
revol_util                                      0.14
last_pymnt_d                                    0.14
next_pymnt_d                                   17.24
mths_since_last_major_derog                    76.91
annual_inc_joint                               85.12
dti_joint                                      85.12
verification_status_joint                      85.42
mths_since_rcnt_il                              3.90
il_util                                        16.62
all_util                                        0.03
avg_cur_bal                                     0.01
bc_open_to_buy                                  1.38
bc_util                                         1.43
mo_sin_old_il_acct                              3.90
mths_since_recent_bc                            1.30
mths_since_recent_bc_dlq                       80.22
mths_since_recent_inq                          12.42
mths_since_recent_revol_delinq                 71.31
num_tl_120dpd_2m                                3.03
percent_bc_gt_75                                1.39
revol_bal_joint                                85.12
sec_app_earliest_cr_line                       85.12
sec_app_inq_last_6mths                         85.12
sec_app_mort_acc                               85.12
sec_app_open_acc                               85.12
sec_app_revol_util                             85.40
sec_app_open_act_il                            85.12
sec_app_num_rev_accts                          85.12
sec_app_chargeoff_within_12_mths               85.12
sec_app_collections_12_mths_ex_med             85.12
sec_app_mths_since_last_major_derog            94.97
hardship_type                                  99.85
hardship_reason                                99.85
hardship_status                                99.85
deferral_term                                  99.85
hardship_amount                                99.85
hardship_start_date                            99.85
hardship_end_date                              99.85
payment_plan_start_date                        99.85
hardship_length                                99.85
hardship_dpd                                   99.85
hardship_loan_status                           99.85
orig_projected_additional_accrued_interest     99.87
hardship_payoff_balance_amount                 99.85
hardship_last_payment_amount                   99.85
debt_settlement_flag_date                      99.80
settlement_status                              99.80
settlement_date                                99.80
settlement_amount                              99.80
settlement_percentage                          99.80
settlement_term                                99.80
dtype: float64

In [9]:
missing_less_50=null_val.loc[null_val <50]

In [10]:
missing_less_50.count()

17

In [11]:
missing_more_50=null_val.loc[null_val>50]

In [15]:
missing_more_50.to_frame().sort_values(by=0, ascending=False)

                                                 0
id                                          100.00
member_id                                   100.00
url                                         100.00
desc                                        100.00
orig_projected_additional_accrued_interest   99.87
hardship_length                              99.85
hardship_dpd                                 99.85
hardship_status                              99.85
deferral_term                                99.85
hardship_amount                              99.85
hardship_start_date                          99.85
hardship_end_date                            99.85
payment_plan_start_date                      99.85
hardship_reason                              99.85
hardship_loan_status                         99.85
hardship_type                                99.85
hardship_payoff_balance_amount               99.85
hardship_last_payment_amount                 99.85
settlement_date                              99.80
debt_settlement_flag_date                    99.80
settlement_status                            99.80
settlement_percentage                        99.80
settlement_amount                            99.80
settlement_term                              99.80
sec_app_mths_since_last_major_derog          94.97
mths_since_last_record                       86.19
verification_status_joint                    85.42
sec_app_revol_util                           85.40
sec_app_earliest_cr_line                     85.12
annual_inc_joint                             85.12
dti_joint                                    85.12
sec_app_chargeoff_within_12_mths             85.12
revol_bal_joint                              85.12
sec_app_inq_last_6mths                       85.12
sec_app_mort_acc                             85.12
sec_app_open_acc                             85.12
sec_app_open_act_il                          85.12
sec_app_num_rev_accts                        85.12
sec_app_collections_12_mths_ex_med           85.12
mths_since_recent_bc_dlq                     80.22
mths_since_last_major_derog                  76.91
mths_since_recent_revol_delinq               71.31
mths_since_last_delinq                       56.11

In [16]:
missing_more_50.count()

43

In [19]:
missing_less_50

emp_title                 8.69
emp_length                8.53
dti                       0.24
revol_util                0.14
last_pymnt_d              0.14
next_pymnt_d             17.24
mths_since_rcnt_il        3.90
il_util                  16.62
all_util                  0.03
avg_cur_bal               0.01
bc_open_to_buy            1.38
bc_util                   1.43
mo_sin_old_il_acct        3.90
mths_since_recent_bc      1.30
mths_since_recent_inq    12.42
num_tl_120dpd_2m          3.03
percent_bc_gt_75          1.39
dtype: float64

In [16]:
missing_less_50=missing_less_50.to_frame()

In [17]:
missing_less_50.sort_values(by=0)

                           0
avg_cur_bal             0.01
all_util                0.03
revol_util              0.14
last_pymnt_d            0.14
dti                     0.24
mths_since_recent_bc    1.30
bc_open_to_buy          1.38
percent_bc_gt_75        1.39
bc_util                 1.43
num_tl_120dpd_2m        3.03
mths_since_rcnt_il      3.90
mo_sin_old_il_acct      3.90
emp_length              8.53
emp_title               8.69
mths_since_recent_inq  12.42
il_util                16.62
next_pymnt_d           17.24

### defining a function for these null variables as we cannot plot untilt we deal with imputation

In [26]:
def analyze_univariate_null(x):
    print(x.describe())
    print("Skewness:", x.skew())
    print("No.of null values:",x.isnull().sum())

In [33]:
def analyze_univariate_null_dt(x):
    print(x.describe())
    print("No.of null values:",x.isnull().sum())

In [48]:
def analyze_univariate_null_cat(x):
    print(x.describe())
    print(x.value_counts())
    print("No.of null values:",x.isnull().sum())

### column/Attribute_1: avg_cur_bal

Average current balance of all accounts

In [27]:
analyze_univariate_null(df['avg_cur_bal'])

count    150781.000000
mean      13766.609507
std       17251.042237
min           0.000000
25%        2917.000000
50%        7108.000000
75%       19103.000000
max      620531.000000
Name: avg_cur_bal, dtype: float64
Skewness: 3.7404172006369945
No.of null values: 11

Conclusion:
    1. this may be a important feature and can be derived from other feature

### column/Attribute_2: all_util

Balance to credit limit on all trades. If someone has several credit cards, the math is still simple. The balance-to-limit ratio is the sum of all the balances plus the sum of all credit limits divided by the total balance and total credit limit.

In [28]:
analyze_univariate_null(df['all_util'])

count    150752.00000
mean         53.66417
std          21.40472
min           0.00000
25%          39.00000
50%          55.00000
75%          69.00000
max         239.00000
Name: all_util, dtype: float64
Skewness: -0.08059644006382956
No.of null values: 40

Conclusion:
    1. Mean can be used for imputation

### column/Attribute_3: all_util

Revolving line utilization rate, or the amount of credit the borrower is using relative to all available revolving credit.

In [30]:
analyze_univariate_null(df['revol_util'])

count    150588.000000
mean         43.349010
std          25.123058
min           0.000000
25%          23.500000
50%          41.500000
75%          61.900000
max         191.000000
Name: revol_util, dtype: float64
Skewness: 0.25109112601064154
No.of null values: 204

Conclusion:
    1. Mean can be used for imputation

### column/Attribute_4: last_pymnt_d

Last month payment was received

In [34]:
analyze_univariate_null_dt(df['last_pymnt_d'])

count       150576
unique          14
top       Feb-2019
freq        119996
Name: last_pymnt_d, dtype: object
No.of null values: 216

In [35]:
pd.options.display.max_rows=None
pd.options.display.max_columns=None

In [140]:
df[df['last_pymnt_d']=='Feb-2019'].head()

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,Year,Month
0,343481,NaN,NaN,16000,16000,16000.0,36 months,18.45,582.06,D,D2,Manager,10+ years,RENT,85000.0,Source Verified,2018-04-01,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,482xx,MI,12.97,1.0,Sep-2006,1.0,20.0,NaN,15.0,0.0,1156,4.0,25.0,w,12782.62,12782.62,5222.14,5222.14,3217.38,2004.76,0.0,0.0,0.0,Feb-2019,582.06,Mar-2019,Feb-2019,1.0,20.0,1,Joint App,155000.0,25.71,Source Verified,0.0,0.0,106254.0,3.0,1.0,2.0,3.0,2.0,27811.0,100.0,1.0,5.0,402.0,51.0,29200.0,2.0,4.0,2.0,9.0,7084.0,10763.0,7.2,0.0,0.0,137.0,139.0,2.0,2.0,2.0,2.0,NaN,2.0,NaN,1.0,3.0,5.0,3.0,5.0,8.0,12.0,15.0,5.0,15.0,0.0,0.0,1.0,3.0,96.0,0.0,0.0,0.0,136334.0,28967.0,11600.0,27934.0,38618.0,Mar-2007,1.0,1.0,20.0,52.2,5.0,16.0,0.0,0.0,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,2018,4
1,343482,NaN,NaN,28675,28675,28675.0,60 months,26.77,871.67,E,E5,officer,10+ years,MORTGAGE,78000.0,Verified,2018-04-01,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,114xx,NY,17.00,0.0,Jul-2005,1.0,NaN,NaN,23.0,0.0,26933,69.4,68.0,w,26107.93,26107.93,8674.05,8674.05,2567.07,6106.98,0.0,0.0,0.0,Feb-2019,871.67,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,0.0,533522.0,1.0,15.0,0.0,0.0,36.0,156597.0,116.0,2.0,4.0,10540.0,105.0,38800.0,0.0,1.0,1.0,4.0,23197.0,6014.0,79.5,0.0,0.0,153.0,128.0,2.0,2.0,2.0,2.0,NaN,0.0,NaN,0.0,4.0,7.0,4.0,11.0,50.0,7.0,16.0,7.0,23.0,0.0,0.0,0.0,2.0,100.0,75.0,0.0,0.0,537686.0,183530.0,29300.0,135639.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,2018,4
2,343486,NaN,NaN,35000,35000,35000.0,36 months,13.58,1189.09,C,C2,Medical billing,4 years,RENT,32262.0,Source Verified,2018-04-01,Current,n,NaN,NaN,other,Other,606xx,IL,4.35,0.0,Aug-2007,0.0,68.0,NaN,7.0,0.0,772,16.4,16.0,w,15431.61,15431.61,22055.40,22055.40,19568.39,2487.01,0.0,0.0,0.0,Feb-2019,1189.09,Mar-2019,Feb-2019,0.0,68.0,1,Individual,NaN,NaN,NaN,0.0,0.0,1820.0,0.0,2.0,0.0,0.0,81.0,1048.0,14.0,0.0,1.0,0.0,15.0,4700.0,0.0,0.0,3.0,1.0,303.0,NaN,NaN,0.0,0.0,120.0,128.0,22.0,22.0,0.0,NaN,71.0,1.0,71.0,1.0,0.0,1.0,0.0,2.0,7.0,5.0,8.0,1.0,7.0,0.0,0.0,0.0,0.0,87.5,NaN,0.0,0.0,12200.0,1820.0,0.0,7500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,2018,4
3,343487,NaN,NaN,5000,5000,5000.0,36 months,13.58,169.87,C,C2,Driver,10+ years,RENT,45000.0,Source Verified,2018-04-01,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,850xx,AZ,14.83,1.0,Jan-1995,2.0,21.0,NaN,6.0,0.0,2202,25.0,15.0,w,3933.03,3933.03,1525.06,1525.06,1066.97,458.09,0.0,0.0,0.0,Feb-2019,169.87,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,310.0,230026.0,1.0,2.0,0.0,2.0,20.0,13136.0,75.0,3.0,3.0,0.0,58.0,8800.0,1.0,1.0,2.0,5.0,38338.0,NaN,NaN,0.0,0.0,157.0,175.0,4.0,4.0,1.0,NaN,NaN,0.0,21.0,0.0,0.0,2.0,0.0,3.0,4.0,3.0,8.0,2.0,6.0,0.0,0.0,0.0,3.0,93.3,NaN,0.0,0.0,249136.0,15338.0,0.0,17448.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,2018,4
4,343489,NaN,NaN,28000,28000,28000.0,60 months,10.90,607.40,B,B4,Radiologic Technologist,4 years,MORTGAGE,60000.0,Verified,2018-04-01,Current,n,NaN,NaN,credit_card,Credit card refinancing,218xx,MD,35.18,0.0,Jun-2005,0.0,NaN,NaN,8.0,0.0,21065,92.0,25.0,w,24704.47,24704.47,5449.64,5449.64,3295.53,2154.11,0.0,0.0,0.0,Feb-2019,607.40,Mar-2019,Feb-2019,0.0,NaN,1,Joint App,119645.0,24.68,Verified,0.0,0.0,319079.0,0.0,4.0,1.0,3.0,10.0,94395.0,88.0,0.0,0.0,10518.0,89.0,22900.0,1.0,0.0,0.0,4.0,39885.0,1835.0,92.0,0.0,0.0,154.0,148.0,31.0,10.0,4.0,31.0,NaN,22.0,NaN,0.0,3.0,3.0,3.0,4.0,13.0,3.0,8.0,3.0,8.0,0.0,0.0,0.0,1.0,100.0,100.0,0.0,0.0,346276.0,115460.0,22900.0,113376.0,35096.0,Oct-2005,2.0,4.0,22.0,71.8,9.0,19.0,0.0,0.0,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,2018,4

Conclusion:
    1. dropped because issue_d is 2018, and last_pymnt_d is 2019 which cannot happen

### column/Attribute_5: dti

A ratio calculated using the borrower’s total monthly debt payments on the total debt obligations, excluding mortgage and the requested LC loan, divided by the borrower’s self-reported monthly income.

In [37]:
analyze_univariate_null(df['dti'])

count    150429.000000
mean         19.616939
std          21.248328
min           0.000000
25%          11.230000
50%          17.650000
75%          25.030000
max         999.000000
Name: dti, dtype: float64
Skewness: 24.304971844626493
No.of null values: 363

Conclusion:
    1. We can try imputing from other variables 
    2. KNNimputer

### Column/Attribute_6:mths_since_recent_bc

Months since most recent bankcard account opened.

In [38]:
analyze_univariate_null(df['mths_since_recent_bc'])

count    148831.000000
mean         25.452567
std          33.980333
min           0.000000
25%           6.000000
50%          14.000000
75%          30.000000
max         661.000000
Name: mths_since_recent_bc, dtype: float64
Skewness: 3.68514893752507
No.of null values: 1961

Conclusion:
    1. KNNImputer

### Column/Attribute_7: bc_open_to_buy

Total open to buy on revolving bankcards.

In [39]:
analyze_univariate_null(df['bc_open_to_buy'])

count    148705.000000
mean      15265.307044
std       19783.520786
min           0.000000
25%        2888.000000
50%        8363.000000
75%       19965.000000
max      493101.000000
Name: bc_open_to_buy, dtype: float64
Skewness: 3.2147088021825656
No.of null values: 2087

Conclusion:
    1. KNNImputer

### Column/Attribute_8: percent_bc_gt_75

Percentage of all bankcard accounts > 75% of limit.

In [41]:
analyze_univariate_null(df['percent_bc_gt_75'])

count    148700.000000
mean         32.500033
std          34.942612
min           0.000000
25%           0.000000
50%          25.000000
75%          50.000000
max         100.000000
Name: percent_bc_gt_75, dtype: float64
Skewness: 0.7374231517734474
No.of null values: 2092

### Column/Attribute_9: bc_util

Ratio of total current balance to high credit/credit limit for all bankcard accounts. Credit scoring companies consider this ratio when determining your credit score, and a low ratio is better for your score than a high ratio.

In [42]:
analyze_univariate_null(df['bc_util'])

count    148640.000000
mean         49.207354
std          29.240776
min           0.000000
25%          25.000000
50%          48.000000
75%          73.900000
max         201.600000
Name: bc_util, dtype: float64
Skewness: 0.06315863225296721
No.of null values: 2152

### Column/Attribute_10: num_tl_120dpd_2m

Number of accounts currently 120 days past due (updated in past 2 months)

In [44]:
analyze_univariate_null(df['num_tl_120dpd_2m'])

count    146224.0
mean          0.0
std           0.0
min           0.0
25%           0.0
50%           0.0
75%           0.0
max           0.0
Name: num_tl_120dpd_2m, dtype: float64
Skewness: 0
No.of null values: 4568

Conclusion:
        1.we can remove this variable completely as the only value is zero

### Column/Attribute_11: mths_since_rcnt_il

Months since most recent installment accounts opened

In [45]:
analyze_univariate_null(df['mths_since_rcnt_il'])

count    144906.000000
mean         21.578968
std          26.358755
min           0.000000
25%           7.000000
50%          14.000000
75%          25.000000
max         507.000000
Name: mths_since_rcnt_il, dtype: float64
Skewness: 3.5288190332829648
No.of null values: 5886

### Column/Attribute_12: mo_sin_old_il_acct

Months since oldest bank installment account opened

In [46]:
analyze_univariate_null(df['mo_sin_old_il_acct'])

count    144906.000000
mean        123.078361
std          55.342328
min           1.000000
25%          86.000000
50%         129.000000
75%         154.000000
max         565.000000
Name: mo_sin_old_il_acct, dtype: float64
Skewness: 0.30752551004163403
No.of null values: 5886

### Column/Attribute_13: emp_length

Employment length in years. Possible values are between 0 and 10 where 0 means less than one year and 10 means ten or more years.

In [49]:
analyze_univariate_null_cat(df['emp_length'])

count        137926
unique           11
top       10+ years
freq          50253
Name: emp_length, dtype: object
10+ years    50253
2 years      14197
3 years      12723
< 1 year     10273
1 year        9960
4 years       9731
5 years       9497
6 years       6709
7 years       5636
8 years       4663
9 years       4284
Name: emp_length, dtype: int64
No.of null values: 12866

In [145]:
dff=df.loc[:,['emp_length','emp_title']]

In [149]:
dff[dff['emp_length'].isnull()].head()

   emp_length emp_title
14        NaN       NaN
43        NaN       NaN
49        NaN       NaN
51        NaN       NaN
66        NaN       NaN

### Column/Attribute_14: emp_title

Conclusion:
    1.both emp_title and emp_length does not look like an important feature for model building

### Column/Attribute_15: mths_since_recent_inq

Months since most recent inquiry.

In [51]:
analyze_univariate_null(df['mths_since_recent_inq'])

count    132061.000000
mean          7.383732
std           6.016793
min           0.000000
25%           2.000000
50%           6.000000
75%          11.000000
max          25.000000
Name: mths_since_recent_inq, dtype: float64
Skewness: 0.8051993509356616
No.of null values: 18731

### Column/Attribute_16: il_util

Ratio of total current balance to high credit/credit limit on all install acct

In [52]:
analyze_univariate_null(df['il_util'])

count    125736.000000
mean         67.764849
std          23.990640
min           0.000000
25%          53.000000
50%          70.000000
75%          84.000000
max        1000.000000
Name: il_util, dtype: float64
Skewness: 0.6750495193944546
No.of null values: 25056

### Column/Attribute_17: next_pymnt_d

In [54]:
analyze_univariate_null_cat(df['next_pymnt_d'])

count       124791
unique           3
top       Mar-2019
freq        124746
Name: next_pymnt_d, dtype: object
Mar-2019    124746
Feb-2019        37
Apr-2019         8
Name: next_pymnt_d, dtype: int64
No.of null values: 26001

Conclusion:
    1.we can substitute this by mode and does not look like a important feature

### Column/Attribute_18: mths_since_last_delinq

In [55]:
analyze_univariate_null(df['mths_since_last_delinq'])

count    66188.000000
mean        36.846422
std         21.796130
min          0.000000
25%         19.000000
50%         34.000000
75%         53.000000
max        226.000000
Name: mths_since_last_delinq, dtype: float64
Skewness: 0.4037968835281117
No.of null values: 84604

Conclsuion:
    1.can be substituted my mean

### Column/Attribute_19: mths_since_recent_revol_delinq

In [56]:
analyze_univariate_null(df['mths_since_recent_revol_delinq'])

count    43261.000000
mean        37.592797
std         21.936466
min          0.000000
25%         20.000000
50%         35.000000
75%         53.000000
max        160.000000
Name: mths_since_recent_revol_delinq, dtype: float64
Skewness: 0.5365354575636386
No.of null values: 107531

Conclusion:
    1.we can substitute by median

### Column/Attribute_20: mths_since_last_major_derog

Months since most recent 90-day or worse rating

In [57]:
analyze_univariate_null(df['mths_since_last_major_derog'])

count    34812.000000
mean        46.053947
std         21.508095
min          0.000000
25%         29.000000
50%         46.000000
75%         63.000000
max        226.000000
Name: mths_since_last_major_derog, dtype: float64
Skewness: 0.10559424048758623
No.of null values: 115980

Conclusion:
    1. almost normal- we canreplace by mean or median

### Column/Attribute_21: mths_since_recent_bc_dlq

In [58]:
analyze_univariate_null(df['mths_since_recent_bc_dlq'])

count    29826.000000
mean        40.359116
std         22.231105
min          0.000000
25%         23.000000
50%         38.000000
75%         57.000000
max        194.000000
Name: mths_since_recent_bc_dlq, dtype: float64
Skewness: 0.46687905930006435
No.of null values: 120966

Coclusion:
    1. can be replaced by median

### Column/Attribute_22: mths_since_last_record

The number of months since the last public record.

In [59]:
analyze_univariate_null(df['mths_since_last_record'])

count    20822.000000
mean        79.545673
std         24.745746
min          1.000000
25%         64.000000
50%         84.000000
75%         99.000000
max        124.000000
Name: mths_since_last_record, dtype: float64
Skewness: -0.7124323526509065
No.of null values: 129970

Conclusion:
    1. KNNImputer

### Column/Attribute_23: annual_inc_joint

The combined self-reported annual income provided by the co-borrowers during registration

In [60]:
analyze_univariate_null(df['annual_inc_joint'])

count    2.243900e+04
mean     1.254809e+05
std      6.657299e+04
min      5.693510e+03
25%      8.500000e+04
50%      1.120000e+05
75%      1.500000e+05
max      1.200000e+06
Name: annual_inc_joint, dtype: float64
Skewness: 3.3458520217249403
No.of null values: 128353

Conclusion:
    1.may be knn or some other method or we need to transform and then see

### Column/Attribute_24: verification_status_joint

Indicates if the co-borrowers' joint income was verified by LC, not verified, or if the income source was verified

In [63]:
analyze_univariate_null_cat(df['verification_status_joint'])

count            21989
unique               3
top       Not Verified
freq             10025
Name: verification_status_joint, dtype: object
Not Verified       10025
Source Verified     7131
Verified            4833
Name: verification_status_joint, dtype: int64
No.of null values: 128803

### Column/Attribute_25: dti_joint

A ratio calculated using the co-borrowers' total monthly payments on the total debt obligations, excluding mortgages and the requested LC loan, divided by the co-borrowers' combined self-reported monthly income

In [64]:
analyze_univariate_null(df['dti_joint'])

count    22439.000000
mean        19.614484
std          8.041596
min          0.000000
25%         13.670000
50%         19.190000
75%         25.210000
max         39.980000
Name: dti_joint, dtype: float64
Skewness: 0.19218998796047967
No.of null values: 128353

Coclusion:1. with median we can replace

### Column/Attribute_25: dti_joint

Sum of revolving credit balance of the co-borrowers, net of duplicate balances

In [65]:
analyze_univariate_null(df['revol_bal_joint'])

count     22439.000000
mean      34401.867686
std       28285.987159
min           0.000000
25%       15543.000000
50%       27338.000000
75%       44831.000000
max      371153.000000
Name: revol_bal_joint, dtype: float64
Skewness: 2.403735344298874
No.of null values: 128353

### Column/Attribute_26: sec_app_earliest_cr_line

Earliest credit line at time of application for the secondary applicant

In [67]:
analyze_univariate_null_dt(df['sec_app_earliest_cr_line'])

count        22439
unique         581
top       Aug-2006
freq           230
Name: sec_app_earliest_cr_line, dtype: object
No.of null values: 128353

Conclusion:
knn imputator for missing values- only numeric values ,when we dont know which one to substitute and the difference between mean and median is large

### Column/Attribute_27: last_credit_pull_d

In [68]:
analyze_univariate_null_cat(df['last_credit_pull_d'])

count       150791
unique          16
top       Feb-2019
freq        134123
Name: last_credit_pull_d, dtype: object
Feb-2019    134123
Jan-2019      3902
Dec-2018      2343
Nov-2018      2029
Oct-2018      1838
Jul-2018      1413
Sep-2018      1264
Aug-2018      1082
Apr-2018       636
Mar-2018       611
May-2018       556
Feb-2018       446
Jan-2018       395
Jun-2018        82
Dec-2017        70
Nov-2017         1
Name: last_credit_pull_d, dtype: int64
No.of null values: 1

### Column/Attribute_28: pct_tl_nvr_dlq

Percent of trades never delinquent

In [69]:
analyze_univariate_null(df['pct_tl_nvr_dlq'])

count    150791.000000
mean         94.620369
std           9.087760
min           0.000000
25%          92.300000
50%         100.000000
75%         100.000000
max         100.000000
Name: pct_tl_nvr_dlq, dtype: float64
Skewness: -2.523451003712344
No.of null values: 1